.article > p 
{
    text-indent: 25px;
}

.center 
{
    text-align:center;
}

.right
{
    text-align:right;
}

.left 
{
    text-align:left;
}

.form table, .form td 
{
    border:none;
}

.noborder 
{
    border:none;
}

.req_error 
{
    font-size:13px;
    color:red;
}

.req_error a:visited
{
    text-decoration:none;
}

.req_error a:hover
{
    text-decoration:underline;
} 

